{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="{% static 'catalog/style1.css' %}">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<h1>Catalog</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="#">Campus</a></li>
				<li><a href="mission.html">Our Mission</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1><em>"More than Just a study Room"</em>
			</h1>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>About US</h1>
			<p style="font-size:18pt; color:black;">A Group of 4 individuals, reading enthusiasts and 
			University of South Florida Students started this Library 
			as a means to get students the resources they deserve for 
			better grading, while that may just be the jest of whats to offer 
			Catalog offers more than just books, Catalog is a leader in 
			Education and oue mission is to grow the tampa community for the betterment for all its inhabitants
			</p>
		</section>
		<aside id="sidebar">
			<h1>Our Team</h1>
			<p>Muhammad Siddiqui, CEO and President</p>
			<p>Phillip Chang, Senior Vice President</p>
			<p>Joseph Ortiz , CTO and senior Execuive</p>
			<p>Talha Khan, CFO and senior Architect </p>
		</aside>
	</div>

	<footer id="main-footer">
		<p>Catalog 2020 &copy; </p>
	</footer>
</body>
</html>