{% load static %}
<!doctype html>
<html lang = "en">
<meta charset = "utf-8">
<title>Library Database</title>
<link rel="stylesheet" type="text/css" href="{% static 'catalog/style.css' %}">
<h1 style= "color: white;"><center>Available Books</center> </h1>

<body id="showcase">
		<form method="POST", action="">
			{% csrf_token %}
			<input type = "text" list = "test" name="test" placeholder=""> 
			<datalist id = "test">
				{% for record in records %}
					<option>{{ record.1 }}</option>    
				{% endfor %}
			</datalist>
			<input type = "submit" value = "Submit">
		</form>
	<table style="color:white; margin: 0px;padding: 0px;width: 800px;height: 400px;">
		<tr>
			<th>User Name</th>
			<th>Title</th>
			<th>Condition</th>
			<th>Genre</th>
			<th>Quantity</th>
			<th>Availability</th>
			<th>Author</th>
		</tr>
		{% for record in records %}
			<tr>
				<th>{{ record.0 }}</th>
				<th>{{ record.1 }}</th>
				<th>{{ record.2 }}</th>
				<th>{{ record.3 }}</th>
				<th>{{ record.4 }}</th>
				<th>{{ record.5 }}</th>
				<th>{{ record.6 }}</th>
			</tr>
		{% endfor %}
	</table>
   </body>

</html>






	