{% load static %}
<!doctype html>
<html lang = "en">
<meta charset = "utf-8">
<title>Library Database</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<h1 style= "color: white;"><center>Avaliable books</center> </h1>

<body id="showcase">
      <table style="color:white; margin: 0px;padding: 0px;width: 800px;height: 400px;">
			<thead>
				<tr>
					<th>Name</th>
					<th>Author</th>
					<th>Year</th>
					<th>Price</th>
					<th>Loan</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> Thousand Splendid Suns</td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Just Mercy</td>
					<td> Bryan Stevenson </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>On Earth We're Briefly Gorgeous </td>
					<td> Ocean Vuong </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thinking, FAST and SLOW  </td>
					<td> Daneil Kahneman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Crystal </td>
					<td> Katie Price</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Untamed by  </td>
					<td> Glennon Doyle </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Then She was Gone</td>
					<td>  Lisa Jewell </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Dune</td>
					<td>   Frank Herbet</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Before We Were Yours by  </td>
					<td> Lisa Wingate </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Where the Crawdads Sing </td>
					<td> Delia Owens </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>The Unteachables</td>
					<td>  Gordon Korman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Kitrunner </td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thousand Splendid Suns</td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Just Mercy</td>
					<td> Bryan Stevenson </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>On Earth We're Briefly Gorgeous </td>
					<td> Ocean Vuong </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thinking, FAST and SLOW  </td>
					<td> Daneil Kahneman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Crystal </td>
					<td> Katie Price</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Untamed by  </td>
					<td> Glennon Doyle </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Then She was Gone</td>
					<td>  Lisa Jewell </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Dune</td>
					<td>   Frank Herbet</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Before We Were Yours by  </td>
					<td> Lisa Wingate </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Where the Crawdads Sing </td>
					<td> Delia Owens </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>The Unteachables</td>
					<td>  Gordon Korman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Kitrunner </td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thousand Splendid Suns</td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Just Mercy</td>
					<td> Bryan Stevenson </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>On Earth We're Briefly Gorgeous </td>
					<td> Ocean Vuong </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thinking, FAST and SLOW  </td>
					<td> Daneil Kahneman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Crystal </td>
					<td> Katie Price</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Untamed by  </td>
					<td> Glennon Doyle </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Then She was Gone</td>
					<td>  Lisa Jewell </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Dune</td>
					<td>   Frank Herbet</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Before We Were Yours by  </td>
					<td> Lisa Wingate </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Where the Crawdads Sing </td>
					<td> Delia Owens </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>The Unteachables</td>
					<td>  Gordon Korman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Kitrunner </td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thousand Splendid Suns</td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Just Mercy</td>
					<td> Bryan Stevenson </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>On Earth We're Briefly Gorgeous </td>
					<td> Ocean Vuong </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Thinking, FAST and SLOW  </td>
					<td> Daneil Kahneman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Crystal </td>
					<td> Katie Price</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Untamed by  </td>
					<td> Glennon Doyle </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Then She was Gone</td>
					<td>  Lisa Jewell </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Dune</td>
					<td>   Frank Herbet</td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Before We Were Yours by  </td>
					<td> Lisa Wingate </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td> Where the Crawdads Sing </td>
					<td> Delia Owens </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>The Unteachables</td>
					<td>  Gordon Korman </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
				<tr>
					<td>Kitrunner </td>
					<td> Khalid Hossaini </td>
					<td> 2008 </td>
					<td> $9.99</td>
					<td><form action="checkout.html">
						<input type="submit" value="checkout" />
						</form></td>
				</tr>
			</tbody>
		</table>
         
   </body>

</html>






	