{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="css/style1.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<h1>Catalog</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="#">Campus</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1><em>"Pen Is Mightier Than The sword"</em> 
			</h1>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>Our Mission</h1>
			<p style="font-size:18pt; color:black;">Our Mission is Simple and Stright Forward
			,to deleiver the leadership performance in educating the younger generation. We believe in Equality and that every one deserves 
			the right for education and with our online campus and checkout system along with feasble financing we believe we can 
			create a better and more knowledgable world. All the books Can be Found in a databases, with an option to get it on kindle.  
			</p>
		</section>
		<aside id="sidebar">
			<h1>Our Team</h1>
			<p>Muhammad Siddiqui, CEO and President</p>
			<p>Phillip Chang, Senior Vice President</p>
			<p>Joseph Ortiz , CTO and senior Execuive</p>
			<p>Talha Khan, CFO and senior Architect </p>
		</aside>
	</div>

	<footer id="main-footer">
		<p>Catalog 2020 &copy; </p>
	</footer>
</body>
</html>