{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<!-- 
<body id="showcase"> 
<form class="box" action="index.html" method="post">
  <h1>Login</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Login">
</form>
<br>
<br>
<h1 class ="middle ">
New User? 
<br>
<br>
<p class = "par">
Please Sign up with one time registration to recieve an updated list of Avalable books and Recommendation.
</p>
</h1>
-->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<div>
<form method="POST" action="">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Register Now</legend>
    {{ form |crispy }}
  </fieldset>
  <button type="submit" class="btn btn-outline-info">Register</button>
</form>
</div>
</body>
</html>