{% load static %}
<html>
<head>
	<title>CSS Cheat Sheet</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body id="showcase">
<form class="box" action="index.html" method="post">
  <h1>Login</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Login">
</form>
<br>
<br>
<h1 class ="middle ">
New User? 
<br>
<br>
<p class = "par">
Please Sign up with one time registration to recieve an updated list of Avalable books and Recommendation.
</p>
</h1>
<form class="boxt" action="index.html" method="post">
  <h1>Register</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Register">
</form>
</body>
</html>